language: python
python:
  - '3.5'
matrix:
  include:
    - python: "2.7"
    env: TOXENV=py27
    - python: "3.3"
    env: TOXENV=py33
    - python: "3.4"
    env: TOXENV=py33
    - python: "3.5"
    env: TOXENV=py35
    - python: "3.6"
    env: TOXENV=py36
install:
- pip install tox
script:
- tox
deploy:
  provider: pypi
  user: oc
  password:
    secure: tiUCyYMMOkD6/BaAVhtFMhRijRzqMQLNi4Dg6wI70TWul9gqQYVfCjWZJlNRfl22MtKj7Pj4HA/4Y1GE2rSpcqA6tQ8AVw98is1EjACDLp1yE6JMyqrVExZEq1vgG4iGyAQ9YGHRsQikSphSno1+LjbAYOhE0biRNVycU2cLN4OH/fXTg9lV7SCvTtQxDh5oDLSd9XVdGI1wToJBdQVSG0RPFUfBpGbbyNf6ZUYEDdYAAf8ECiHQGCk8+95aIMrg3ooUzyMJ1odZucW5BkTudNmtXGu1Ga+JVvc4lfEfkAZjM+6ZrfzVjtsIP/asuHGgIvdwUQTgEBB2FDSvW6AXsyUjupQQXnt4K9XzoJqDy6t5K5B1BCeye70OOjgHYayr+yJzwFzBKmQNDI53CjExQdDsafpKc7JyOyILSQ1zz6pgdlKEd57munVh2xhVgtgUgZW6yjWrKRTh/AaB+Rwv+bwMq6HhA9sIA/8DcVvCOuSbtUBp1dCVWpTlkAIj86EzTcyG5utbiZn28nMv0w648k/BQ+crMD0biqZRVaHxTifPjVz9EZOuArV0tK9RcOCDNVLOYftgWNEr3TUTiSJiK0mJkQr0Lvi96ju7cnaLbmHx4nPhuSO3jfpppkx0fQqHpAB8i6Xv59kabS+/BPZ1D/gb4K+zUN8HZs2XkO+a+A4=
  on:
    tags: true
notifications:
  slack:
    secure: jAjml+q7JYnNAZwK6WWVzo82M/3zEnQMRqH7SQZHYWxVZICvqM2wVeehkhqioiIQntwDQ1minWerf3nTij5J/JbQ8gjvPTAWh7Sit9oygceYr9u/QaXU5GXuIkOmxcBnEWZaOim709FNYqGIh1oUGqtgTGNwVRFnftjM/YHNDJaMcCKdcngCSu6QBiE0bRuS/XwF6MBb8XC2j50OVZWD7+Q/7gO8NzBr7vGh8I5REoKLVENHQgA8HtV9Z0A4CENKNFPdYm+cFKKOL7Z3jYX0hPYi1cESV1qh6JVRju8vdGS7bnDYNkewIa/blnHwDqHT1juhXJIxf7noXkj+v1o009qdiyY/4FUTdyCu+8YVy+dqfPT7wteEh7B7uBj0za+THs2gVvOJbt8MKRrU1qRys3bWotdbxIibcDF755H6+/JfwCw4QGsqa419tX/0jkkWoKqIllTWq21UoAHRmPh41UKjc4PmaP8D+Qhd3UVnY6zRek8RyMbgGx8PVRI7RYB0Yx/H8fhlxBdYG2iHA5Aw/8HG9Irzw44ytjRMhM1mNFww63QuquGQQEPQZi+O/THsSkF0LLgs5hcxxIF+N7gkezsBqRnuO282ejCr2HsVJLh8xJoEkBoD5cKVfY9sFysiwB5OiR7FBSbln/JUq64yvwv/6IazrJQm2//Et2G9H4Y=
